:host{
    text-align: center;
}

input, select{
    border: 1px gray solid;
    padding: 3px;
    border-radius: 3px;
    margin: 10px;
}

b{
    color: rgb(0, 70, 186);
    margin: 20px;
    font-size: 20px;
}

